<div class="user-container">    
    <%= link_to user_path(id: @user.id) do %>
        <div class="btn btn-primary" >
            <%= "プロフィールへ" %>
        </div>
    <% end %>
    <%= link_to user_post_path(id: @user.id) do %>
        <div class="btn btn-primary" >
            <%= "自身の投稿へ" %>
        </div>
    <% end %>
    <%= link_to user_like_post_path(id: @user.id) do %>
        <div class="btn btn-primary">
            <%= "いいねした投稿" %>
        </div>
    <% end %>
    <%= link_to user_favorite_post_path(id: @user.id) do %>
        <div class="btn btn-primary">
            <%= "フォローしたユーザーの投稿" %>
        </div>
    <% end %>
</div>

<div class="index-posts-container">
    <h2>フォローしたユーザーの投稿</h2>
    <% @user.followings.each do |following| %>
        <% following.posts.each do |post| %>
            <div class="index-post">
                <div class="index-main-box">
                    <div class="index-left-container">
                        <a href="/users/<%= post.user.id %>"><%= post.user.name %></a><br>
                        <%= post.title %><br>
                        <%= render_with_hashtags(safe_join(post.comment.split("\n"),tag(:br))) %>
                        <div id="likes_buttons_<%= post.id %>">
                            <%= render partial: 'likes/like', locals: { post: post } %>
                        </div>
                    </div>
                    <div class="index-middle-container">
                        <%= image_tag post.image_url, class: "index-image" if post.image? %>
                    </div>
                    <div class="index-right-container">
                        <%= link_to "詳細ページへ", post_path(post.id) %><br>
                        <%= link_to "編集する", edit_post_path(post.id) %><br>
                        <%= link_to "削除する", post_path(post.id), method: :delete %>
                    </div>
                </div>
                <p class="time"><%= post.created_at %></p>
            </div>
        <% end %>
    <% end %>
</div>