<div class="user-container">    
    <%= link_to user_path(id: @user.id) do %>
        <div class="btn btn-primary" >
            <%= "プロフィールへ" %>
        </div>
    <% end %>
    <%= link_to user_post_path(id: @user.id) do %>
        <div class="btn btn-primary" >
            <%= "自身の投稿へ" %>
        </div>
    <% end %>
    <%= link_to user_like_post_path(id: @user.id) do %>
        <div class="btn btn-primary">
            <%= "いいねした投稿" %>
        </div>
    <% end %>
    <%= link_to user_favorite_post_path(id: @user.id) do %>
        <div class="btn btn-primary">
            <%= "フォローしたユーザーの投稿" %>
        </div>
    <% end %>
</div>
<div class="index-posts-container">
    <%= page_entries_info @likes %>
        <h3>いいねした投稿</h3>
        <% @likes.each do |like| %>
            <div class="index-post">
                <div class="index-main-box">
                    <div class="index-left-container">
                        <%= link_to user_path(like.post.user.id) do %>
                            <div class="user-icon">
                                <div class="user-image">
                                    <%= image_tag like.post.user.image_url, class: "image" if like.post.user.image? %>
                                </div>
                                <div><%= like.post.user.name %></div>
                            </div>
                        <% end %>
                        <div class="index-comment-box">
                            <%= like.post.title %><br>
                            <%= render_with_hashtags(safe_join(like.post.comment.split("\n"),tag(:br))) %>
                            <div class="icons">
                                <div class="icon">
                                    <div id="likes_buttons_<%= like.post.id %>">
                                        <%= render partial: 'likes/like', locals: { post: like.post } %>
                                    </div>
                                </div>
                                <div class="icon">
                                    <%= link_to  post_path(like.post.id) do %>
                                        <i class="fas fa-file-alt"></i>
                                    <% end %>
                                </div>
                                <% if user_signed_in? && current_user.id == like.post.user_id %>
                                    <div class="icon">
                                        <%= link_to edit_post_path(like.post.id) do %>
                                            <i class="fas fa-pen"></i>
                                        <% end %>
                                    </div>
                                    <div class="icon">
                                        <%= link_to post_path(like.post.id), method: :delete, data: { confirm: "削除しますか？" } do %>
                                            <i class="fas fa-trash-alt"></i>
                                        <% end %>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                        <p class="time"><%= like.post.created_at %></p>
                    </div>
                    <div class="index-right-container">
                        <%= image_tag like.post.image_url, class: 'index-image' if like.post.image? %>
                    </div>
                </div>
            </div>
        <% end %>
    <%= paginate @likes %>
</div>

