<div class="index-posts-container">
    <%= page_entries_info @posts %>
        <h3>投稿一覧</h3>
        <h3>投稿を検索</h3>
        <%= form_tag({controller:"posts",action:"index"},method: :get) do %>
            <%= text_field_tag :search %>
            <%= submit_tag '検索する' %>
        <% end %>
        <% @posts.each do |post| %>
            <div class="index-post">
                <div class="index-main-box">
                    <div class="index-left-container">
                        <%= link_to user_path(post.user.id) do %>
                            <div class="user-icon">
                                <div class="index-user-image">
                                    <%= image_tag post.user.image_url, class: "image" if post.user.image? %>
                                </div>
                                <div><%= post.user.name %></div>
                            </div>
                        <% end %>
                        <div class="index-comment-box">
                            <%= post.title %><br>
                            <%= render_with_hashtags(safe_join(post.comment.split("\n"),tag(:br))) %>
                            <div id="likes_buttons_<%= post.id %>">
                                <%= render partial: 'likes/like', locals: { post: post } %>
                            </div>
                        </div>
                        <p class="time"><%= post.created_at %></p>
                    </div>
                    <div class="index-right-container">
                        <%= image_tag post.image_url, class: 'index-image' if post.image? %>
                    </div>
                </div>
            </div>
        <% end %>
    <%= paginate @posts %>
</div>
