<%= stylesheet_link_tag 'show', :media => "all" %>

<div id="confirmation-box">
    <div class="confirmation-message"><%= "もう大丈夫だ。君がこの作品を好きな思いは十分に伝わった。ありがとう。" %></div>
    <div class="confirmation-btn-box">
        <div class="not-confirmation-btn" onclick="clickBtn3();">
            <div class="blue"><%= "OK" %></div>
        </div>
    </div>
</div>
<script>
    document.getElementById("confirmation-box").style.display="none";

    function LikeDeleteBtn(){
        const p1 =document.getElementById("confirmation-box");

        p1.style.display = "block";
    }
    function clickBtn3(){
        const p1 =document.getElementById("confirmation-box");

        p1.style.display = "none";
    }
</script>

<div class="show-post-container">
    <div class="show-left-container">
        <% if @post.user.id == current_user.id %>
            <%= link_to user_path(@post.user.id) do %>
                <div class="show-my-icon">
                    <div class="show-user-large-image">
                        <%= image_tag @post.user.image_url, class: "image" if @post.user.image? %>
                    </div>
                </div>
            <% end %>
            <div class="show-my-main-box">
                <%= render_with_hashtags(safe_join(@post.comment.split("\n"),tag(:br))) %><br>
                <div id="likes_buttons_<%= @post.id %>">
                    <%= render partial: 'likes2/like', locals: { post: @post , count: @user_like_count } %>
                </div>
            </div>
            <div class="show-my-main-box">
                <h5>あらすじ</h5>
                <p class="secen"><%= @post.scene %><br></p>
            </div>
            <div class="show-my-main-box">
                <div class="my-card">
                    <div class="my-card-img">
                        <%= image_tag @post.book_image, class: "my-card-img-left" if @post.book_image? %>
                    </div>
                    <div class="my-card-body">
                        <h5 class="my-card-title"><%= @post.title %></h5>
                        <p class="my-card-text"><%= @post.author %></p>
                        <p class="my-card-text"><%= @post.publisher_name %></p>
                        <p class="my-card-text"><%= @post.genre %></p>
                        <p class="my-card-text"><%= @post.magazine %></p>
                    </div>
                </div>
            </div>
        <% else %>
            <%= link_to user_path(@post.user.id) do %>
                <div class="show-icon">
                    <div class="user-icon">
                        <div class="show-user-large-image">
                            <%= image_tag @post.user.image_url, class: "image" if @post.user.image? %>
                        </div>
                        <div><%= @post.user.name %></div>
                    </div>
                </div>
            <% end %>
            <div class="show-main-box">
                <%= render_with_hashtags(safe_join(@post.comment.split("\n"),tag(:br))) %><br>
                <div id="likes_buttons_<%= @post.id %>">
                    <%= render partial: 'likes2/like', locals: { post: @post } %>
                </div>
            </div>
            <div class="show-main-box">
                <h5>あらすじ</h5>
                <p class="secen"><%= @post.scene %><br></p>
            </div>
            <div class="show-main-box">
                <div class="my-card">
                    <div class="my-card-img">
                        <%= image_tag @post.book_image, class: "my-card-img-left" if @post.book_image? %>
                    </div>
                    <div class="my-card-body">
                        <h5 class="my-card-title"><%= @post.title %></h5>
                        <p class="my-card-text"><%= @post.author %></p>
                        <p class="my-card-text"><%= @post.publisher_name %></p>
                        <p class="my-card-text"><%= @post.genre %></p>
                        <p class="my-card-text"><%= @post.magazine %></p>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="comment-wrapper">
            <% @comments.each do |c| %>
                <% if c.user.id == current_user.id %>
                    <%= link_to user_path(c.user.id) do %>
                        <div class="show-my-icon">
                            <div class="show-user-image">
                                <%= image_tag c.user.image_url, class: "image" if c.user.image? %>
                            </div>
                        </div>
                    <% end %>
                    <div class="show-my-comment-container">
                        <div class="show-my-comment-box">
                            <div class="comment"><%= c.content %></div>
                        </div>
                    </div>
                <% else %>
                    <%= link_to user_path(c.user.id) do %>
                        <div class="show-user-icon">
                            <div class="show-user-image">
                                <%= image_tag c.user.image_url, class: "image" if c.user.image? %>
                            </div>
                            <%= c.user.name %>
                        </div>
                    <% end %>
                    <div class="show-comment-box">
                        <div class="comment"><%= c.content %></div>
                    </div>
                <% end %>
            <% end %>
            <% if user_signed_in? %>
                <div class="write-box">
                    <%= form_with(model: [@post, @comment], local: true) do |f| %>
                        <%= f.text_area :content, :size => 140, class:"comment-field" %>
                        <%= button_tag type: "submit" do %>
                            <i class="far fa-comments"></i>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="show-right-container">
        <%= image_tag @post.image_url, class: "image" if @post.image? %>
    </div>
</div>
