<div class="post-container">
  <h2><%= resource_name.to_s.humanize %>情報の編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :名前 %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class:"name-field" %>
    </div>

    <div class="field">
      <%= f.label :ユーザーアイコン %>
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :プロフィール %><br />
      <%= f.text_area :profile, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :新しいパスワード %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em>最低<%= @minimum_password_length %>文字</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :新しいパスワードの確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :現在のパスワード %><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "更新する" %>
    </div>
  <% end %>

  <h3>アカウントを削除する</h3>

  <p><%= button_to "削除する", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete %></p>

  <%= link_to "戻る", :back %>
</div>